# dependencies\
node_modules/

# testing
coverage/
cypress/screenshots/
cypress/videos/
junit.xml

# temp
.tmp/

# production
build/
dist/

# misc
.DS_Store
.npmrc
*.log
release.json
**/package-lock.json
**/.eslintcache

# env
.env
!.env.example
